.retry-action-loading-failure {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}

.retry-action__button {
  min-width: 96px;
}

.retry-action__loading {
  width: 100%;
}

.retry-action--block .retry-action__loading,
.retry-action-loading-failure .retry-action__loading {
  min-height: 200px;
}

.retry-action--panel .retry-action__loading {
  flex: 1;
  min-height: 120px;
}
